!!! 5
html
  head
    title CampLight Ltd.
    meta(charset='utf-8')
    meta(name='copyright', content='Camplight Ltd.')
    meta(name='author', content='Camplight')
    meta(name='keywords', content='open,source,company,software,hardware,freeware,technologies,freelancers,team,camplight')
    meta(name='description', content='Software and Hardware development company made by people for people')
    link(rel='author', href='humans.txt')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700')
    link(rel='shortcut icon', href='favicon.ico')

    link(rel='stylesheet', href='/style/about.css')

    script(src="/code.js")

  body
    include ./partials/header
    #content
      #abouts
        .wrap
            .oneline.first
              h2 What is Camplight?
              p.info
                | <i>We need to put here no more than 2 sentences describing camplight as open company.</i>
            .oneline.middle
              h2 Who is behind Camplight?
              p.info
                | <i>We need to explain what kind of breed are Camplighters.</i>
            .oneline.last
              h2 What are Camplight's principles?
              p.info
                | <i>We should have better into text for our principles... </i>
      #explanations-wrapper
        .explanations-container
          .how-it-works
            h2 How does Camplight work?
            p.info.works
              | <i> text for how we work </i>
          .prezi(width='150px')
            h2 Video
            .prezi-player
              style(type='text/css', media='screen')
                .prezi-player { width: 300px; } .prezi-player-links { text-align: center; }
              object#prezi_m4x9fekjjogq(name='prezi_m4x9fekjjogq', classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', width='300', height='200')
                param(name='movie', value='http://prezi.com/bin/preziloader.swf')
                param(name='allowfullscreen', value='true')
                param(name='allowFullScreenInteractive', value='true')
                param(name='allowscriptaccess', value='always')
                param(name='bgcolor', value='#000')
                param(name='flashvars', value='prezi_id=m4x9fekjjogq&lock_to_path=0&color=ffffff&autoplay=no&autohide_ctrls=0')
                embed#preziEmbed_m4x9fekjjogq(style='background: transparent;', name='preziEmbed_m4x9fekjjogq', src='http://prezi.com/bin/preziloader.swf', type='application/x-shockwave-flash', allowfullscreen='true', allowfullscreeninteractive='true', allowscriptaccess='always', width='300', height='200', bgcolor='#000', flashvars='prezi_id=m4x9fekjjogq&lock_to_path=0&color=ffffff&autoplay=no&autohide_ctrls=0')
              .prezi-player-links
                p
                  a(title='Camplight', href='http://prezi.com/m4x9fekjjogq/camplight/') Camplight
                  | on
                  a(href='http://prezi.com') Prezi
          .principles
            ul
              li
                h3 Good
                .details
                  | <i> text for the good principle </i>
              br
              li
                h3 Transparent
                .details
                  | <i> text for the transparent principle </i>
              br
              li
                h3 Collaboration
                .details
                  | <i> text for collaboration principle </i>
    include ./partials/footer