!!! 5
html
  head
    title CampLight Ltd.
    meta(charset='utf-8')
    meta(name='copyright', content='Camplight Ltd.')
    meta(name='author', content='Camplight')
    meta(name='keywords', content='open,source,company,software,hardware,freeware,technologies,freelancers,team,camplight')
    meta(name='description', content='Software and Hardware development company made by people for people')
    link(rel='author', href='humans.txt')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700')
    link(rel='shortcut icon', href='favicon.ico')

    link(rel='stylesheet', href='/style/about.css')

    script(src="/code.js")

  body
    include ./partials/header
    #content
      #abouts
    .wrap
        .span4
          h2 What is Camplight?
          p.info
            | An open company, inspired by the idea of Open business and based on the power of professionals in modern ages. Camplight is company of people working for the people. We make your ideas become reality and then we make sure they stay so.
        .span4.secondary
          h2 Who is behind Camplight?
          p.info
            | Camplight is driven by ordinary people with extraordinary vision about the way of working, sharing and creating while We strive towards better future. Our team is build of highly motivated developers - programmers, designers, project managers, admins, content writers, testers & etc. We like using and creating the newest open source technologies.
        .span4.secondary
          h2 What are Camplight's principles?
          p.info
            | There are four words behind Camplight: idealism, imagination, problem solving and creativity. We overcome limits and demand transperancy, where our essential ingredients are:
    #explanations-wrapper
      .explanations-container
        .how-it-works
          h2 How does Camplight work?
          p.info.works
            | If you are looking for someone to make your ideas a reality, please e-mail us with information about your project at team@camplight.net. We will find available people - a team and/or a person (Camplight gives the possibility to hire one or more of its members) who can do the job. We will contact you and decide how we will proceed together.
          p We are looking forward to all of your interesting ideas and projects.
        .prezi(width='150px')
          h2 Video
          .prezi-player
            style(type='text/css', media='screen')
              .prezi-player { width: 300px; } .prezi-player-links { text-align: center; }
            object#prezi_m4x9fekjjogq(name='prezi_m4x9fekjjogq', classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', width='300', height='200')
              param(name='movie', value='http://prezi.com/bin/preziloader.swf')
              param(name='allowfullscreen', value='true')
              param(name='allowFullScreenInteractive', value='true')
              param(name='allowscriptaccess', value='always')
              param(name='bgcolor', value='#000')
              param(name='flashvars', value='prezi_id=m4x9fekjjogq&lock_to_path=0&color=ffffff&autoplay=no&autohide_ctrls=0')
              embed#preziEmbed_m4x9fekjjogq(style='background: transparent;', name='preziEmbed_m4x9fekjjogq', src='http://prezi.com/bin/preziloader.swf', type='application/x-shockwave-flash', allowfullscreen='true', allowfullscreeninteractive='true', allowscriptaccess='always', width='300', height='200', bgcolor='#000', flashvars='prezi_id=m4x9fekjjogq&lock_to_path=0&color=ffffff&autoplay=no&autohide_ctrls=0')
            .prezi-player-links
              p
                a(title='Camplight', href='http://prezi.com/m4x9fekjjogq/camplight/') Camplight
                | on
                a(href='http://prezi.com') Prezi
        .principles
          ul
            li
              h3 Opennes
              .details
                | We love open source software. This also means that we operate on the basis of opennes and clarity without our team. Everybody caries their responsibility to contribute in the respect.
            br
            li
              h3 Transparency
              .details
                | We demand transparency on issues and information which Camplight provides to its members and NOT to random people. In order to be successful in the so called "free market", we must have a strategic approach on sharing, so internal discussion is the key.
            br
            li
              h3 Consistency
              .details
                | We stay on track by coordinated actions in our process
    include ./partials/footer