!!! 5
html
  head
    title Camplight Ltd.
    meta(charset='utf-8')
    meta(name='copyright', content='Camplight Ltd.')
    meta(name='author', content='Camplight')
    meta(name='keywords', content='open,source,company,software,hardware,freeware,technologies,freelancers,team,camplight')
    meta(name='description', content='Software and Hardware development company made by people for people')
    link(rel='author', href='humans.txt')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700')
    link(rel='shortcut icon', href='favicon.ico')

    link(rel='stylesheet', href='/style/about.css')

    script(src="/code.js")

  body
    #content
      include ./partials/header
      #abouts
        .wrap
            .oneline.first
              h2 What is Camplight?
              p.info
                | Camplight is international decentralized 'open' company.
            .oneline.middle
              h2 Who is behind Camplight?
              p.info
                | Ordinary people. Good people. Great craftmans and superb team players.
            .oneline.last
              h2 What is Camplight's mission?
              p.info
                | To provide a solid self-sustainable medium for enjoying life on Earth today and in the future.
      .main
        .wrap
          .how-it-works
            h2 How does Camplight work?
            p.info.works
              | First we discuss and think, then we do, finally we thrive together. <br /><br />
              | Camplight is working with people around the globe using the latest innovations in communication technologies to be able to deliver best results to its customers, clients & friends.<br /><br />
              | You can send us any kind of request by email, we'll be happy to help you out having at hand our expertise. <br /><br />
          .history
            h2 Camplight's history
            p.info
              ul
                li 
                  .title August, 2012
                  .info Camplight expanded to 37 members.
                li
                  .title March, 2012
                  .info Camplight expanded to 26 members and 4 partners.
                li
                  .title February, 2012
                  .info Camplight Ltd. is registered in Bulgaria.
                li 
                  .title November, 2011
                  .info A group of people made the first steps towards foundation of Camplight.
                
          .principles
            h2 What are Camplight's principles?
            p.info
              ul
                li
                  h3 Good
                  .details
                    | Be good. It is that simple. 
                br
                li
                  h3 Transparent
                  .details
                    | Camplighters insist on transparent flow of information, it is key ingredient for doing great work.
                br
                li
                  h3 Collaboration
                  .details
                    | In Camplight we believe that collaboration is stronger that competition. And we test it everyday.
    include ./partials/footer