#skills
  .wrap
    ul
      li.area
        h2 Frontend
        ul
          li HTML 5
          li CSS 3
          li Javascript
          li Flash/Flex
      li.area
        h2 Backend
        ul
          li Node.js
          li Ruby
          li Python
          li Java
          li PHP
      li.area
        h2 Database
        ul
          li SQL
          li MongoDB
          li CouchDB
          li Redis
          li Neo4j
      li.area
        h2 Mobile
        ul
          li iOS/Objective C
          li Android
          li AS3/Flash/Air
          li J2ME
      li.area
        h2 Desktop
        ul
          li Java
          li C#
          li C++
          li AS3/Air
      li.area
        h2 Design
        ul
          li Web
          li Identity
          li Print
          li Illustration
      li.area
        h2 Linux
        ul
          li System Administration
          li Optimization
#team
  .wrap
    h2 Team
    ul
      each member in members
        li.vcard
          h3.fn= member.name
          span.role= member.role