#header
  .wrap
    a(href="/")
      h1#logo
        | Camplight
  script#animatedLogoTemplate(type='xml/html-temaplte').
    <a href="/">
      <div class="logo">
      <img class="logoTop" src="images/animatedLogo/icon.png"></img>
      <img class="logoShadow" src="images/animatedLogo/shadow.png"></img>
      <img class="logoCamplightText" src="images/animatedLogo/camplight.png"></img>
      </div>
    </a>