@import url(http://fonts.googleapis.com/css?family=Signika+Negative);
@import "./layout.css";
@import "./members.css";
@import "./jquery/jquery-betterTooltip.css";

.clearfix {
  clear: both;
}

.pull-right {
  float: right; 
}

.pull-left {
  float: left; 
}

.center {
  margin: 0 auto;
}

.invisible {
}

html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  overflow-x:hidden;
  font-family: 'Signika Negative', serif;
  background-color: #f2f2f2;
}

.content {
  width: 1060px;
  margin: 0 auto;
}

.skrollable {
  position:absolute;
  z-index:100;
}

.skrollable .skrollable {
  position:absolute;
}

.skrollable .skrollable .skrollable {
  position:static;
}

#menu {
  z-index: 201;
  position: fixed;
}

#menu ul {
  list-style: none;
  padding: 0px;
}

#menu ul li {
  background-color: #ed6458;
  margin-top: 10px;
  text-align: right;
  padding-right: 30px;
  padding-left: 15px;
}

#menu li a {
  color: #FFF;
  font-size: 18px;
  text-decoration: none;
}

#menu li a.active {
  color: #F00;
  font-size: 18px;
  text-decoration: none;
}

.camplightLogo {
  background-image: url("../images/camplight_flame_big.png");
  width: 220px;
  height: 354px;
}

.camplightTitle {
  background-image: url("../images/CamplightText.png");
  width: 315px;
  height: 102px;
}

.star1 {
  background-image: url("../images/star1.png");
  width: 43px;
  height: 42px;
}
.star2 {
  background-image: url("../images/star2.png");
  width: 31px;
  height: 32px;
}
.star3 {
  background-image: url("../images/star3.png");
  width: 38px;
  height: 37px;
}
.star4 {
  background-image: url("../images/star4.png");
  width: 26px;
  height: 26px;
}

.planetSaturn {
  background-image: url("../images/planet_saturn.png");
  width: 127px;
  height: 91px;
}

.moonWithAstronaft {
  background-image: url("../images/moonWithCosmonaft.png");
  width: 229px;
  height: 221px; 
}

.fallingStar {
  background-image: url("../images/falling_star.png");
  width: 121px;
  height: 70px;  
}

.ballonBottom {
  background-image: url("../images/ballon_bottom.png");
  width: 338px;
  height: 209px;  
}

.ballonBottom h1 {
  margin-top: 80px;
  margin-left: 10px;
}
.ballonBottom p {
  margin-left: 10px;
}

.ballonTop {
  background-image: url("../images/ballon_top.png");
  width: 374px;
  height: 229px;  
}

.ballonTop h1 {
  margin-left: 10px;
}
.ballonTop p {
  margin-left: 10px;
}

.spacestation {
  background-image: url("../images/spacestationWithCosmonaft.png");
  width: 205px;
  height: 225px;
}

.rocketContainer {
  width: 279px;
  height: 384px;
}

.rocket {
  background-image: url("../images/rocket.png");
  width: 99px;
  height: 85px;
  position: relative;
}

.rocketTrail {
  background-image: url("../images/rocket_trail.png");
  width: 167px;
  height: 331px;
  position: relative;
}

.ballonBottomLarger {
  background-image: url("../images/ballon_bottom_larger.png");
  width: 474px;
  height: 220px;  
}

.ballonBottomLarger h1 {
  margin-left: 10px;
  margin-top: 80px;
}
.ballonBottomLarger p {
  margin-left: 10px;
}

.clouds {
  background-image: url("../images/clouds.png");
  width: 1920px;
  height: 550px;
}

.cloudsTop {
  background-image: url("../images/clouds_top.png");
  width: 1060px;
  height: 164px;
}

.fluffyCloud1 {
  background-image: url("../images/fluffy_cloud1.png");
  width: 400px;
  height: 168px;
  text-align: center;
  line-height: 138px;
}

.skills {
  width: 1060px;
  left: 600px;
  top: 110px;
  position: absolute;
}
.skillGroup {
  margin-top: 150px;
  float: left;
  width: 125px;
}
.skillList {
  list-style: none;
  padding: 0px;
}
.skill {
}

.cloudsBottom {
  background-image: url("../images/clouds_bottom.png");
  width: 1920px;
  height: 177px;
}

.mountains2 {
  background-image: url("../images/mountains_top2.png");
  width: 1920px;
  height: 978px;
  z-index: 52;
}

.mountains4 {
  background-image: url("../images/mountains_top4.png");
  width: 1920px;
  height: 908px;
  z-index: 54;
}

.mountains5 {
  background-image: url("../images/mountains_top5.png");
  width: 1920px;
  height: 765px;
  z-index: 55;
}

.mountains7 {
  background-image: url("../images/mountains_top7.png");
  width: 1920px;
  height: 513px;
  z-index: 57;
}

.cloudsTop {
  background-image: url("../images/clouds_top.png");
  width: 1060px;
  height: 164px;
}

.tree1 {
  background-image: url("../images/tree1.png");
  width: 505px;
  height: 946px;
  z-index: 158;
}

.tree2 {
  background-image: url("../images/tree2.png");
  width: 515px;
  height: 956px;
  z-index: 159;
}

.tree3 {
  background-image: url("../images/tree3.png");
  width: 556px;
  height: 773px;
  z-index: 160;
}

.tree4 {
  background-image: url("../images/tree4.png");
  width: 463px;
  height: 909px;
  z-index: 161;
}

.tree5 {
  background-image: url("../images/tree5.png");
  width: 415px;
  height: 927px;
  z-index: 162;
}

.tree6 {
  background-image: url("../images/tree6.png");
  width: 496px;
  height: 753px;
  z-index: 163;
}

#impress {
  width: 960px;
  height: 500px;
  margin: 0 auto; 
}

#impress .welcome {
  font-size: 48px;
}

#impress .welcome {
  font-size: 48px;
}

#impress .hint {
  font-size: 32px;
}

#impress .proMode {
  font-size: 56px;
}

#impress .logoImg {
  background-image: url("../images/backgroundColored.jpg");
  width: 960px;
  height: 720px; 
}

#impress .box {
  width: 340px;
  height: 240px;
  border: 1px solid #888;
  box-shadow: 10px 10px 5px #888;
  border-radius: 25px;
  text-align: center;
  line-height: 240px;
  font-size: 24px;
  background-color: white;
}

#impress .line {
  width: 340px;
  height: 240px;
  text-align: center;
  line-height: 240px;
  font-size: 24px;
  -moz-box-shadow: 0 0 10px 5px black, 40px -30px lime, 40px 30px 50px red, -40px 30px yellow, -40px -30px 50px blue;
  -webkit-box-shadow: 0 0 10px 5px black, 40px -30px lime, 40px 30px 50px red, -40px 30px yellow, -40px -30px 50px blue;
  box-shadow: 0 0 10px 5px black, 40px -30px lime, 40px 30px 50px red, -40px 30px yellow, -40px -30px 50px blue;
}

