@import url(http://fonts.googleapis.com/css?family=Signika+Negative);
@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);
@import "./layout.css";
@import "./members.css";
@import "./landtrees.css";
@import "./jquery/jquery-betterTooltip.css";

.clearfix {
  clear: both;
}

.pull-right {
  float: right; 
}

.pull-left {
  float: left; 
}

.center {
  margin: 0 auto;
}

.invisible {
}

.tooltip {
  position: absolute;
  z-index: 10000;
  display: none;
}

html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  overflow-x:hidden;
  /* font-family: 'Signika Negative', serif; */
  font-family: 'Love Ya Like A Sister', cursive;
  background-color: #f2f2f2;
  color: #4b4b4b;
}

.content {
  width: 1060px;
  height: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.skrollable {
  position:absolute;
  z-index:100;
}

.skrollable .skrollable {
  position:absolute;
}

.skrollable .skrollable .skrollable {
  position:static;
}

.noscriptbox {
  text-align: center;
  color: white;
  background-color: gray;
  border: 1px solid green;
}

#menu {
  z-index: 201;
  position: fixed;
 
}

#menu ul {
  list-style: none;
  padding: 0px;

   
}

#menu ul li {
  margin-top: 10px;
  text-align: right;
  
}

#menu li a {
  display: block;
  color: #FFF;
  font-size: 18px;
  text-decoration: none;
  background-color: #ed6458;
  width: 100px;
  padding-right: 15px;
  padding-left: 15px;
}

#menu li a:hover {

}

#menu li a.active {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

.camplightLogo {
  background-image: url("../images/camplight_flame_big.png");
  width: 175px;
  height: 289px;
}

.camplightTitle {
  background-image: url("../images/CamplightText.png");
  width: 315px;
  height: 102px;
}

.star1 {
  background-image: url("../images/star1.png");
  width: 43px;
  height: 42px;
}
.star2 {
  background-image: url("../images/star2.png");
  width: 31px;
  height: 32px;
}
.star3 {
  background-image: url("../images/star3.png");
  width: 38px;
  height: 37px;
}
.star4 {
  background-image: url("../images/star4.png");
  width: 26px;
  height: 26px;
}

.planetSaturn {
  background-image: url("../images/planet_saturn.png");
  width: 127px;
  height: 91px;
}

.moonWithAstronaft {
  background-image: url("../images/moonWithCosmonaft.png");
  width: 229px;
  height: 221px; 
}

.fallingStar {
  background-image: url("../images/falling_star.png");
  width: 121px;
  height: 70px;  
}

.ballonBottom {
  background-image: url("../images/ballon_bottom.png");
  width: 338px;
  height: 209px;  
}

.ballonBottom h1 {
  margin-top: 80px;
  margin-left: 10px;
}
.ballonBottom p {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Signika Negative', serif;
}

.ballonTop {
  background-image: url("../images/ballon_top.png");
  width: 374px;
  height: 229px;  
}

.ballonTop h1 {
  margin-left: 10px;
  font-size: 26px;
}
.ballonTop p {
  margin-left: 10px;
  font-family: 'Signika Negative', serif;
}

.spacestation {
  background-image: url("../images/spacestationWithCosmonaft.png");
  width: 205px;
  height: 225px;
}

.rocketContainer {
  width: 279px;
  height: 384px;
}

.rocket {
  background-image: url("../images/rocket.png");
  width: 99px;
  height: 85px;
  position: relative;
}

.rocketTrail {
  background-image: url("../images/rocket_trail.png");
  width: 167px;
  height: 331px;
  position: relative;
}

.ballonBottomLarger {
  background-image: url("../images/ballon_bottom_larger.png");
  width: 474px;
  height: 220px;  
}

.ballonBottomLarger h1 {
  margin-left: 10px;
  margin-top: 80px;
  font-size: 28px;
}
.ballonBottomLarger p {
  margin-left: 10px;
  font-family: 'Signika Negative', serif;
}

.clouds {
  background-image: url("../images/clouds.png");
  width: 1920px;
  height: 550px;
}

.cloudsTop {
  background-image: url("../images/clouds_top.png");
  width: 1060px;
  height: 164px;
}

.fluffyCloud1 {
  background-image: url("../images/fluffy_cloud1.png");
  width: 400px;
  height: 168px;
  text-align: center;
  line-height: 138px;
}

.skills {
  width: 1060px;
  left: 600px;
  top: 110px;
  position: absolute;
}
.skillGroup {
  font-family: 'Signika Negative', serif;
  margin-top: 150px;
  float: left;
  width: 125px;
}
.skillList {
  list-style: none;
  padding: 0px;
}
.skill {
}

.cloudsBottom {
  background-image: url("../images/clouds_bottom.png");
  width: 1920px;
  height: 177px;
}

.mountains2 {
  background-image: url("../images/mountains_top2.png");
  width: 1920px;
  height: 978px;
  z-index: 52;
}

.mountains4 {
  background-image: url("../images/mountains_top4.png");
  width: 1920px;
  height: 908px;
  z-index: 54;
}

.mountains5 {
  background-image: url("../images/mountains_top5.png");
  width: 1920px;
  height: 765px;
  z-index: 55;
}

.mountains7 {
  background-image: url("../images/mountains_top7.png");
  width: 1920px;
  height: 513px;
  z-index: 57;
}

.cloudsTop {
  background-image: url("../images/clouds_top.png");
  width: 1060px;
  height: 164px;
}

.tree1 {
  background-image: url("../images/tree1.png");
  width: 505px;
  height: 946px;
  z-index: 158;
  pointer-events:none;
}

.tree2 {
  background-image: url("../images/tree2.png");
  width: 515px;
  height: 956px;
  z-index: 159;
  pointer-events:none;
}

.tree3 {
  background-image: url("../images/tree3.png");
  width: 556px;
  height: 773px;
  z-index: 160;
  pointer-events:none;
}

.tree4 {
  background-image: url("../images/tree4.png");
  width: 463px;
  height: 909px;
  z-index: 161;
  pointer-events:none;
}

.tree5 {
  background-image: url("../images/tree5.png");
  width: 415px;
  height: 927px;
  z-index: 162;
  pointer-events:none;
}

.tree6 {
  background-image: url("../images/tree6.png");
  width: 496px;
  height: 753px;
  z-index: 163;
  pointer-events:none;
}

.tree7left {
  background-image: url("../images/tree7-left.png");
  width: 328px;
  height: 855px;
  z-index: 163;
}
.tree7middle {
  background-image: url("../images/tree7-middle.png");
  width: 1270px;
  height: 256px;
  z-index: 163;
}
.tree7right {
  background-image: url("../images/tree7-right.png");
  width: 322px;
  height: 855px;
  z-index: 163;
}

.toilet {
  background-image: url("../images/toilet.png");
  width: 71px;
  height: 100px;
  z-index: 159;
}

.whitebackground {
  background-color: white;
  width: 1920px;
  height: 1000px;
}

.flameRocks {
  background-image: url("../images/camplight_flame_rocks.png");
  width: 155px;
  height: 68px;
  z-index: 165;
}

.map {
  background-image: url("../images/map.png");
  width: 917px;
  height: 599px;
  z-index: 164;
}

.compas {
  background-image: url("../images/compas.png");
  width: 138px;
  height: 138px;
  z-index: 165;
}

.path {
  width: 483px;
  height: 457px;
  z-index: 165;
}

.pathPeace1 {
  background-image: url("../images/path_piece1.png");
  width: 17px;
  height: 16px;
  z-index: 180;
}

.pathPeace2 {
  background-image: url("../images/path_piece2.png");
  width: 21px;
  height: 19px;
  z-index: 181;
}

.pathPeace3 {
  background-image: url("../images/path_piece3.png");
  width: 21px;
  height: 22px;
  z-index: 182;
}

.pathPeace4 {
  background-image: url("../images/path_piece4.png");
  width: 22px;
  height: 25px;
  z-index: 183;
}

.pathPeace5 {
  background-image: url("../images/path_piece5.png");
  width: 27px;
  height: 27px;
  z-index: 184;
}

.pathPeace6 {
  background-image: url("../images/path_piece6.png");
  width: 26px;
  height: 30px;
  z-index: 185;
}

.pathPeace7 {
  background-image: url("../images/path_piece7.png");
  width: 30px;
  height: 34px;
  z-index: 186;
}

.pathPeace8 {
  background-image: url("../images/path_piece8.png");
  width: 36px;
  height: 38px;
  z-index: 187;
}

.pathPeace9 {
  background-image: url("../images/path_piece9.png");
  width: 41px;
  height: 41px;
  z-index: 188;
}

.pathPeace10 {
  background-image: url("../images/path_piece10.png");
  width: 45px;
  height: 44px;
  z-index: 189;
}

.pathPeace11 {
  background-image: url("../images/path_piece11.png");
  width: 47px;
  height: 37px;
  z-index: 190;
}

.pathPeace12 {
  background-image: url("../images/path_piece12.png");
  width: 47px;
  height: 33px;
  z-index: 191;
}

.pathPeace13 {
  background-image: url("../images/path_piece13.png");
  width: 50px;
  height: 46px;
  z-index: 192;
}

.pathPeace14 {
  background-image: url("../images/path_piece14.png");
  width: 54px;
  height: 52px;
  z-index: 193;
}

.pathPeace15 {
  background-image: url("../images/path_piece15.png");
  width: 55px;
  height: 53px;
  z-index: 194;
}

.pathPeace16 {
  background-image: url("../images/path_piece16.png");
  width: 60px;
  height: 56px;
  z-index: 195;
}

.pathPeace17 {
  background-image: url("../images/path_piece17.png");
  width: 71px;
  height: 60px;
  z-index: 196;
}

.pathPeace18 {
  background-image: url("../images/path_piece18.png");
  width: 76px;
  height: 65px;
  z-index: 197;
}

.pathPeace19 {
  background-image: url("../images/path_piece19.png");
  width: 84px;
  height: 75px;
  z-index: 198;
}

.pathPeace20 {
  background-image: url("../images/path_piece20.png");
  width: 84px;
  height: 75px;
  z-index: 199;
}

.pathPeace21 {
  background-image: url("../images/path_piece21.png");
  width: 77px;
  height: 80px;
  z-index: 200;
}

.pathPeace22 {
  background-image: url("../images/path_piece22.png");
  width: 88px;
  height: 74px;
  z-index: 201;
}

.pathCross {
  background-image: url("../images/path_cross.png");
  width: 118px;
  height: 118px;
  z-index: 202;
}

.partner1 {
  background-image: url("../images/partners/shtrak.png");
  width: 135px;
  height: 65px;
  z-index: 203;
}

.partner2 {
  background-image: url("../images/partners/gamecraft.png");
  width: 268px;
  height: 69px;
  z-index: 204;
}

.partner3 {
  background-image: url("../images/partners/sourcerealms.png");
  width: 86px;
  height: 86px;
  z-index: 205;
}

.partner4 {
  background-image: url("../images/partners/crystalplay.png");
  width: 246px;
  height: 90px;
  z-index: 206;
}

.partnersBackground {
  background-color: #FFFFFF;
  width: 1920px;
  height: 860px;
  z-index: 10;
}

.mapLabel {
  z-index: 300;
}

.contactUsLabel {
  font-size: 18px;
  margin-top: 120px;
  margin-left: -20px;
  text-decoration: none;
}

a.contactBtn {
  text-decoration: none;
  color: #4b4b4b;
}

.member {
  z-index: 300;
}

#hut {background:url("../images/hut_aimation.png") no-repeat 0px -6848px;width:172px; height:107px; padding:0; display:block;}
#owl {background:url("../images/owl-animation.png") no-repeat 0px -3864px;width:37px; height:46px; padding:0; display:block;z-index: 150;}
#moon {background:url("../images/moon-animation.png") no-repeat 0px -6525px;width:228px; height:225px; padding:0; display:block;}

.shareButtons {
  width: 800px;
  z-index: 300;
  height: 50px;
}

.shareButtons .btn {
  float: left;
  margin-right: 20px;
  width: 200px;
  text-align: center;
}

.offset100 {
  margin-left: 100px;
}

.footer {
  width: 600px;
  height: 25px;
}

.footer a {
  text-decoration: none;
  color: #4b4b4b;
}

.footer a:hover {
  text-decoration: underline;
}

.footer ul {
  float: left;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer li {
  display: block;
  float: left; 
  width: 200px;
  text-align: center;
}

.footer .camplightCopyright {
  float: right;
}