.m14 {
  width: 79px;
  height: 98px;
  background-image: url("../images/members/m14.png");
}
.m13 {
  width: 78px;
  height: 89px;
  background-image: url("../images/members/m13.png");
}
.m12 {
  width: 110px;
  height: 90px;
  background-image: url("../images/members/m12.png");
}
.m11 {
  width: 78px;
  height: 91px;
  background-image: url("../images/members/m11.png");
}
.m1 {
  width: 108px;
  height: 112px;
  background-image: url("../images/members/m1.png");
}
.m5 {
  width: 108px;
  height: 112px;
  background-image: url("../images/members/m5.png");
}
.m3 {
  width: 108px;
  height: 112px;
  background-image: url("../images/members/m3.png");
}
.m10 {
  width: 68px;
  height: 82px;
  background-image: url("../images/members/m10.png");
}
.m4 {
  width: 108px;
  height: 112px;
  background-image: url("../images/members/m4.png");
}
.m8 {
  width: 71px;
  height: 87px;
  background-image: url("../images/members/m8.png");
}
.m7 {
  width: 108px;
  height: 112px;
  background-image: url("../images/members/m7.png");
}
.m6 {
  width: 108px;
  height: 112px;
  background-image: url("../images/members/m6.png");
}
.m2 {
  width: 108px;
  height: 112px;
  background-image: url("../images/members/m2.png");
}
.m9 {
  width: 105px;
  height: 80px;
  background-image: url("../images/members/m9.png");
}
