/* begin Box, Sheet */

.art-Sheet-body
{
	zoom: 1;
}
/* end Box, Sheet */

/* begin Box, Block */
.art-Block-tl
{
	clip: rect(auto 7px 7px auto);
}

.art-Block-tr
{
	clip: rect(auto auto 7px 7px);
}

.art-Block-bl
{
	clip: rect(7px 7px auto auto);
}

.art-Block-br
{
	clip: rect(7px auto auto 7px);
}

.art-Block-tc
{
	clip: rect(auto auto 7px auto);
}

.art-Block-bc
{
	clip: rect(7px auto auto auto);
}

.art-Block-cr
{
	clip: rect(auto auto auto 7px);
}

.art-Block-cl
{
	clip: rect(auto 7px auto auto);
}

.art-Block-body
{
	zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader .r
{
	clip: rect(auto auto auto 894px);
}
/* end BlockHeader */

/* begin Box, BlockContent */

.art-BlockContent-body
{
	zoom: 1;
}
/* end Box, BlockContent */

/* begin Box, Post */

.art-Post-body
{
	zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.art-PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.art-button-wrapper .r
{
	clip: rect(auto auto auto 402px);
}
/* end Button */

