#abouts
  .wrap
    .span4
      h2 What is Camplight?
      .info An open company, inspired by the idea of Open business and based on the power of professionals in modern ages. Camplight is company of people working for the people. We make your ideas become reality and then we make sure they stay so.

    .span4
      h2 Who is behind Camplight?
      .info Camplight is driven by ordinary people with extraordinary vision about the way of working, sharing and creating while We strive towards better future. Our team is build of highly motivated developers - programmers, designers, project managers, admins, content writers, testers & etc. We like using and creating the newest open source technologies.

    .span4
      h2 What are Camplight's principles?
      .info There are four words behind Camplight: idealism, imagination, problem solving and creativity. We overcome limits and demand transperancy, where our essential ingredients are:

#explanations
  h2 How does Camplight work?
  .info If you are looking for someone to make your ideas a reality, please e-mail us with information about your project at team@camplight.net. We will find available people - a team and/or a person (Camplight gives the possibility to hire one or more of its members) who can do the job. We will contact you and decide how we will proceed together.

  We are looking forward to all of your interesting ideas and projects.

  #prezi(width='150px')

  .principles
    ul
      li
        h3 Opennes
        .details We love open source software. This also means that we operate on the basis of opennes and clarity without our team. Everybody caries their responsibility to contribute in the respect.

      li
        h3 Transparency
        .details We demand transparency on issues and information which Camplight provides to its members and NOT to random people. In order to be successful in the so called "free market", we must have a strategic approach on sharing, so internal discussion is the key.

      li
        h3 Consistency
        .details We stay on track by coordinated actions in our process