!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    //
       Start of the headers for CoffeeCup Web Form Builder 
    script#form_init_script(type='text/javascript', src='common/js/form_init.js', data-name='')
          
    link#theme(rel='stylesheet', type='text/css', href='theme/one_note/css/default.css?version=963')
    //
       End of the headers for CoffeeCup Web Form Builder 
    title
      | requestform_
  body.
    Thank you for your request. We'll contact you by email with further details.
