!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    //
       Start of the headers for CoffeeCup Web Form Builder 
    script#form_init_script(type='text/javascript', src='common/js/form_init.js', data-name='')
          
    link#theme(rel='stylesheet', type='text/css', href='theme/one_note/css/default.css?version=963')
    //
       End of the headers for CoffeeCup Web Form Builder 
    title
      | requestform_
  body
    //
       Start of the body content for CoffeeCup Web Form Builder 
    form#docContainer.fb-toplabel.fb-50-item-column.selected-object(style='', action='/shop-request', method='post', enctype='multipart/form-data', novalidate='novalidate', data-form='manual_iframe')
      #fb-form-header1.fb-form-header
        a#fb-link-logo1.fb-link-logo(href='', target='_self')
          img#fb-logo1.fb-logo(title='Alternative text', style='DISPLAY: none;', alt='Alternative text', src='common/images/image_default.png')
      #section1.section.fb-100-item-column
        #column1.column.ui-sortable
          #fb_confirm_inline(style='DISPLAY: none; MIN-HEIGHT: 610px;')
          #fb_error_report(style='DISPLAY: none;')
          #item1.fb-item.fb-100-item-column(style='')
            .fb-header.fb-item-alignment-center
              h2(style='DISPLAY: inline; FONT-FAMILY: georgia;')
                | Camplight t-shirt Order
          #item17.fb-item
            .fb-sectionbreak
              hr(style='BORDER-TOP: 1px solid;')
          #item19.fb-item.fb-50-item-column(style='')
            .fb-grouplabel
              label#item19_label_0(style='DISPLAY: inline;')
                | Gender
            .fb-input-box
              input#item19_text_1(disabled='disabled', maxlength='254', name='text19', data-hint='', autocomplete='off', placeholder='', type='text')
          #item20.fb-item.fb-50-item-column(style='')
            .fb-grouplabel
              label#item20_label_0(style='DISPLAY: inline;')
                | Color
            .fb-input-box
              input#item20_text_1(disabled='disabled', maxlength='254', name='text20', data-hint='', autocomplete='off', placeholder='', type='text')
          #item21.fb-item.fb-50-item-column(style='')
            .fb-grouplabel
              label#item21_label_0(style='DISPLAY: inline;')
                | Logo
            .fb-input-box
              input#item21_text_1(disabled='disabled', maxlength='254', name='text21', data-hint='', autocomplete='off', placeholder='', type='text')
          #item18.fb-item
            .fb-sectionbreak
              hr(style='BORDER-TOP: 1px solid;')
          #item2.fb-item.fb-100-item-column
            .fb-grouplabel
              label#item2_label_0(style='COLOR: #e83e24;')
                | Email
            .fb-input-box
              input#item2_email_1.(maxlength='254', name='email', autofocus='autofocus', required='required', data-hint='* this field is required', autocomplete='on', placeholder='you@domain.com', type='email')
              .fb-hint(style='FONT-WEIGHT: bold; COLOR: #222; FONT-STYLE: normal;')
                | * this field is required
          #item4.fb-item.fb-100-item-column
            .fb-grouplabel
              label#item4_label_0(style='COLOR: #e83e24;')
                | Phone Number
            .fb-phone
              input#item4_tel_1(name='phone', data-hint='', type='tel')
          #item8.fb-item.fb-100-item-column
            .fb-grouplabel
              label#item8_label_0(style='DISPLAY: inline; COLOR: #e83e24;')
                | Your first and last name
            .fb-input-box
              input#item8_text_1(maxlength='254', name='names', required='required', data-hint='* this field is required', autocomplete='on', placeholder='', type='text')
              .fb-hint(style='FONT-WEIGHT: bold; COLOR: #222; FONT-STYLE: normal;')
                | * this field is required
          #item9.fb-item.fb-100-item-column
            .fb-grouplabel
              label#item9_label_0(style='DISPLAY: inline; COLOR: #e83e24;')
                | Additional notes for this request (shipping addres...etc.)
            .fb-textarea
              textarea#item9_textarea_1(style='HEIGHT: 50px; resize: none;', name='notes', data-hint='', placeholder='', maxlength='10000')
      #fb-submit-button-div.fb-item-alignment-right(style='MIN-HEIGHT: 45px;')
        input#fb-submit-button.fb-button-special.non-standard(style='BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND-IMAGE: url(common/images/def_btn.png); BORDER-LEFT: medium none; WIDTH: 170px; COLOR: #f2e5e4; BORDER-BOTTOM: medium none; FONT-FAMILY: \'Snippet\'; HEIGHT: 49px;', type='submit', value='Submit')
      input(type='hidden', name='fb_form_custom_html')
      input(type='hidden', name='fb_form_embedded')
    //
       End of the body content for CoffeeCup Web Form Builder 
