!!! 5
html
  head
    title Camplight Ltd.
    meta(charset='utf-8')
    meta(name='copyright', content='Camplight Ltd.')
    meta(name='author', content='Camplight')
    meta(name='keywords', content='open,source,company,software,hardware,freeware,technologies,freelancers,team,camplight')
    meta(name='description', content='Software and Hardware development company made by people for people')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes")
    link(rel='author', href='humans.txt')
    link(rel='shortcut icon', href='favicon.ico')

    link(rel='stylesheet', href='/style/showreel.css')
  body
    .background
      #viewport
        #world
    .content
      noscript
        .center.noscriptbox Your javascript seems turned off, if you want beautiful animations please turn it on...
      a(href="/")
        .camplightLogo.center
        .camplightTitle.center
      .center.desc
        p We love open source and we love experiments, so checkout some of our doings
      .projects.center
        ul
          a(href="http://moneyflow.camplight.net/")
            li moneyflow
          li job board
          li camplightees shop
          a(href="http://176.58.101.229:3000/")
            li node-thequest
          a(href="http://edukami.com")
            li Edukami
          a(href="http://thawing-dusk-8320.herokuapp.com/")
            li Taggler
          a(href="http://github.com/VarnaLab/node-organic/") 
            li organic
          a(href="http://github.com/camplight/camplight.net") 
            li camplight.net          
          a(href="http://github.com/camplight/rexster-realtime-view")
            li rexter realtime graph db
    script(src="/showreel/code.js")