@import "./reset.css";
@import "./layout.css";

#abouts { overflow: hidden; background-color: #FFF; }

#abouts .oneline { float: left; }

#abouts .first { width: 280px;}

#abouts .middle { margin-left: 50px; width: 280px;}

#abouts .last { margin-left: 50px; width: 300px;}

.info { font-size: 13px; width: 280px;}

#explanations-wrapper {
  border-top: 1px solid #bbbbbb;
}

.how-it-works { float: left; position: relative; width: 280px;}

.prezi { height: 130px; width: 270px; margin-left: 50px; float: left; position: relative;}

.prezi-player { margin-top: 25px;}

.principles { width: 300px; float: right;}

/* MEDIA SCREENS RESPONSIVE==========================----------------- */

@media only screen and ( min-width: 768px ) and ( max-width: 960px ) {
  
}

@media only screen and ( max-width: 767px ) {
  
}

@media only screen and ( max-width: 479px ) {
    .wrap { width: 360px; padding-left: 15px;}
    .explanations-container { width: 360px; padding-left: 15px;}

}